<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DatabaseSettings defaultDatabase="ENTERPRISE">
		<ENTERPRISE ServerName="SQLTEST" dbName="Enterprise" ConnectionString=""  />
		<COMMON ServerName="SQLSTAGE1" dbName="Enterprise" ConnectionString=""  />
		<PROFESSIONAL  ServerName="SQL_DEV" dbName="Professional2" ConnectionString=""  />
		<PERSONAL  ServerName="SQL_DEV" dbName="Personal" ConnectionString=""  />
		<REA  ServerName="SQL_DEV" dbName="Professional2" ConnectionString=""  />  
		<COMMONDEV ServerName="SQL_DEV" dbName="Enterprise" ConnectionString="" />
		<REPORT ServerName="SQLREPORTING" dbName="Reports" ConnectionString="" />
		<TRANSACTION ServerName="TransactionSample" dbName=".\SQLEXPRESS" ConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TransactionSample;Integrated Security=True" />
	</DatabaseSettings>
	<SystemSettings>
		<MailServer IP="169.254.100.215" />
	</SystemSettings>
	<UserSettings>
	</UserSettings>
</configuration>