<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DatabaseSettings defaultDatabase="ENTERPRISE">
		<ENTERPRISE ServerName="__ENTERPRISE__" dbName="Enterprise" ConnectionString=""  />
		<COMMON ServerName="__COMMON__" dbName="Enterprise" ConnectionString=""  />
		<PROFESSIONAL  ServerName="__PROFESSIONAL__" dbName="Professional2" ConnectionString=""  />
		<PERSONAL  ServerName="__PERSONAL__" dbName="Personal" ConnectionString=""  />
		<REA  ServerName="__REA__" dbName="Professional2" ConnectionString=""  />  
		<COMMONDEV ServerName="__COMMONDEV__" dbName="Enterprise" ConnectionString="" />
		<REPORT ServerName="__REPORT__" dbName="Reports" ConnectionString="" />
		<TRANSACTION ServerName="TransactionSample" dbName=".\SQLEXPRESS" ConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TransactionSample;Integrated Security=True" />
	</DatabaseSettings>
	<SystemSettings>
		<MailServer IP="__MailServer__" />
	</SystemSettings>
	<UserSettings>
	</UserSettings>
</configuration>